# Ignore Terraform state files
terraform/*.tfstate
terraform/*.tfstate.*

# Ignore crash logs
terraform/crash.log

# Ignore Terraform variable files
terraform/*.tfvars
terraform/*.tfvars.json

# Ignore override files
terraform/*_override.tf
terraform/*_override.tf.json

# Ignore plan files
terraform/*.tfplan

# Ignore .terraform directory
terraform/.terraform/
terraform/.terraform.lock.hcl

# Ignore backup files
terraform/*~

# Ignore sensitive files
terraform/.env

# Ignore Maven target directory
target/

# Ignore all files in target directory
target/*

# Allow .jar files if needed (optional)
!target/*.jar

# Ignore test reports and logs
target/surefire-reports/
target/failsafe-reports/
target/*.log

# Ignore temporary files
target/tmp/
target/*.tm

# Ignore Kubernetes Secrets
k8s/deployments/secrets.ymlp
